@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary: #f81539;
  --color-secondary: #fc4308;
  --color-black: #3e3232;
  --color-dark-color: #000;
  --color-grey: #f5f5f5;
}
